@tailwind base;
@tailwind components;
@tailwind utilities;

.glow {
    box-shadow: 0 0 20px 5px rgba(2, 15, 15, 0.6); /* Blue glow */
    transition: box-shadow 0.3s ease-in-out; /* Smooth glow effect */
}

.glow:hover {
    box-shadow: 0 0 30px 10px rgba(1, 18, 18, 0.6); /* Stronger glow on hover */
}